# For Adding Custom Note Block Instrument and MapColors
public net.minecraft.world.level.block.state.properties.NoteBlockInstrument$Type
public net.minecraft.world.level.material.MapColor <init>(II)V

# For Adding Stripped Logs and Woods
public-f net.minecraft.world.item.AxeItem STRIPPABLES

# Helping to Define Block Properties
public net.minecraft.world.level.block.Blocks always(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Z

# For Datagen use
protected net.minecraft.data.loot.BlockLootSubProvider hasShearsOrSilkTouch()Lnet/minecraft/world/level/storage/loot/predicates/LootItemCondition$Builder;
protected net.minecraft.data.loot.BlockLootSubProvider doesNotHaveShearsOrSilkTouch()Lnet/minecraft/world/level/storage/loot/predicates/LootItemCondition$Builder;

# For Custom Biomes
protected net.minecraft.data.worldgen.biome.OverworldBiomes biome(ZFFLnet/minecraft/world/level/biome/MobSpawnSettings$Builder;Lnet/minecraft/world/level/biome/BiomeGenerationSettings$Builder;Lnet/minecraft/sounds/Music;)Lnet/minecraft/world/level/biome/Biome;
protected net.minecraft.data.worldgen.biome.OverworldBiomes biome(ZFFIILjava/lang/Integer;Ljava/lang/Integer;Lnet/minecraft/world/level/biome/MobSpawnSettings$Builder;Lnet/minecraft/world/level/biome/BiomeGenerationSettings$Builder;Lnet/minecraft/sounds/Music;)Lnet/minecraft/world/level/biome/Biome;
protected net.minecraft.data.worldgen.biome.OverworldBiomes globalOverworldGeneration(Lnet/minecraft/world/level/biome/BiomeGenerationSettings$Builder;)V

# For Custom Trees
public net.minecraft.data.worldgen.features.TreeFeatures createStraightBlobTree(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/world/level/block/Block;IIII)Lnet/minecraft/world/level/levelgen/feature/configurations/TreeConfiguration$TreeConfigurationBuilder;
public net.minecraft.data.worldgen.features.TreeFeatures createOak()Lnet/minecraft/world/level/levelgen/feature/configurations/TreeConfiguration$TreeConfigurationBuilder;
public net.minecraft.data.worldgen.features.TreeFeatures createBirch()Lnet/minecraft/world/level/levelgen/feature/configurations/TreeConfiguration$TreeConfigurationBuilder;
public net.minecraft.data.worldgen.features.TreeFeatures cherry()Lnet/minecraft/world/level/levelgen/feature/configurations/TreeConfiguration$TreeConfigurationBuilder;

# Chunk stuff
public net.minecraft.server.level.ServerChunkCache$MainThreadExecutor
public net.minecraft.server.level.ChunkMap getChunkQueueLevel(J)Ljava/util/function/IntSupplier;

# For rendering
protected net.minecraft.client.renderer.culling.Frustum cubeInFrustum(DDDDDD)Z
protected net.minecraft.client.renderer.blockentity.SignRenderer renderSignText(Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/entity/SignText;Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;IIIZ)V

# Particles
protected net.minecraft.client.particle.Particle stoppedByCollision

# Networks
public net.minecraft.server.network.ServerGamePacketListenerImpl filterTextPacket(Ljava/lang/String;)Ljava/util/concurrent/CompletableFuture;